{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <h3>Submit Result</h3>
    <p>Enter player names and scores</p>
    {% for i in range(session["n_players"]) %}
    <label for="player">Player</label>
    <input name="player" id="player" required size="8">
    <label for="score">Score</label>
    <input name="score" id="score" required size="1">
    <br>
    {% endfor %}
    <br>
    <input type="submit" value="Submit">
    <br>
    <br>
</form>
{% endblock %}