{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <h3>Submit Result</h3>
    <p>Enter the number of players and races</p>
    <label for="n_players">Players</label><br>
    <input name="n_players" id="n_players" required type="number"><br>
    <label for="n_races">Races</label><br>
    <input name="n_races" id="n_races" required type="number"><br>
    <br>
    <input type="submit" value="Next">
    <br>
    <br>
</form>
{% endblock %}